@import "../../responsive.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  li {
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
      scale: 1.05;
    }
  }
  .left {
    flex: 3;
    ol {
      display: flex;
      align-items: center;
      list-style-type: none;
      .left-menu {
        @include sm {
          display: none;
        }
      }
      .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          height: 50px;
          width: 100px;
          object-fit: cover;
        }

        span {
          font-weight: bold;
          font-size: 20px;

          @include md {
            display: none;
          }
          @include sm {
            display: initial;
          }
        }
      }
      @include lg{
        gap:50px;
      }
      @include md{
        gap:50px;
      }
    }
  }

  .right {
    flex: 2;
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include md {
      background-color: transparent;
    }
    ol {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 20px;
      list-style-type: none;
      li {
        padding: 12px 24px;
      }
      .register {
        background-color: yellow;
      }
      @include lg{
        gap:50px;
      }
      @include md{
        gap:50px;
      }
      @include sm {
        display: none;
      }
    }

    .menu-icon {
      font-size: 30px;
      @include lg {
        display: none;
      }
      @include md {
        display: none;
      }
      @include sm {
        display: initial;
      }
    }
    .menu {
      position: fixed;
      height: 100vh;
      width: 50%;
      top: 0;
      right: 0;
      background-color: black;
      color: white;
      transition: transform 1s ease, opacity 1s ease;
      transform: translateX(100%);
      opacity: 0;
      pointer-events: none;

      &.active {
        transform: translateX(0); /* Bring the menu on-screen */
        opacity: 1; /* Make the menu visible */
        pointer-events: auto;
      }
      .close-menu {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 30px;
        margin: 10px 10px;
        color: gray;
        i {
          padding: 5px 10px;
          border: 1px solid gray;
          cursor: pointer;
        }
      }
      ol {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        list-style-type: none;
        font-size: 20px;
      }
      @include lg {
        display: none;
      }
      @include md {
        display: none;
      }
      @include sm {
        display: initial;
      }
    }
  }
}
